In [2]:
from pymongo import MongoClient
import dotenv
import json
import os
import requests
from dotenv import load_dotenv
import requests
import pandas as pd
import math
import src.funciones_limpieza as cf

In [3]:
client = MongoClient("localhost:27017")
db = client.get_database("Ironhack")
c = db.get_collection("companies")

In [4]:
c.find_one().keys()

dict_keys(['_id', 'name', 'permalink', 'crunchbase_url', 'homepage_url', 'blog_url', 'blog_feed_url', 'twitter_username', 'category_code', 'number_of_employees', 'founded_year', 'founded_month', 'founded_day', 'deadpooled_year', 'tag_list', 'alias_list', 'email_address', 'phone_number', 'description', 'created_at', 'updated_at', 'overview', 'image', 'products', 'relationships', 'competitions', 'providerships', 'total_money_raised', 'funding_rounds', 'investments', 'acquisition', 'acquisitions', 'offices', 'milestones', 'video_embeds', 'screenshots', 'external_links', 'partners'])

In [5]:
#a = c.distinct("description") # busco las distintas clases de empresas que hay dentro del dataset

In [6]:
proy = {"name":1, "category_code":1, "description":1, "total_money_raised":1, "offices":1,}

In [7]:
companies = list(c.find({},proy))
companies[0]
data = pd.DataFrame(companies)
data.head()
data.rename(columns={"description": "description1"}, inplace = True)

In [8]:
df = data.explode('offices')
df.head()

,_id,name,category_code,description1,total_money_raised,offices
0,52cdef7c4bab8bd675297d8a,Wetpaint,web,Technology Platform Company,$39.8M,"{'description': '', 'address1': '710 - 2nd Ave..."
0,52cdef7c4bab8bd675297d8a,Wetpaint,web,Technology Platform Company,$39.8M,"{'description': '', 'address1': '270 Lafayette..."
1,52cdef7c4bab8bd675297d8b,AdventNet,enterprise,Server Management Software,$0,"{'description': 'Headquarters', 'address1': '4..."
2,52cdef7c4bab8bd675297d8c,Zoho,software,Online Business Apps Suite,$0,"{'description': 'Headquarters', 'address1': '4..."
3,52cdef7c4bab8bd675297d8d,Digg,news,user driven social content website,$45M,"{'description': None, 'address1': '135 Mississ..."

In [9]:
dfOfficeData = df[["offices"]].apply(lambda r: r.offices, result_type="expand", axis=1)
cleandata = pd.concat([df,dfOfficeData], axis=1)
cleandata.head()

,_id,name,category_code,description1,total_money_raised,offices,description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude
0,52cdef7c4bab8bd675297d8a,Wetpaint,web,Technology Platform Company,$39.8M,"{'description': '', 'address1': '710 - 2nd Ave...",,710 - 2nd Avenue,Suite 1100,98104,Seattle,WA,USA,47.603122,-122.333253
0,52cdef7c4bab8bd675297d8a,Wetpaint,web,Technology Platform Company,$39.8M,"{'description': '', 'address1': '270 Lafayette...",,270 Lafayette Street,Suite 505,10012,New York,NY,USA,40.723731,-73.996431
1,52cdef7c4bab8bd675297d8b,AdventNet,enterprise,Server Management Software,$0,"{'description': 'Headquarters', 'address1': '4...",Headquarters,4900 Hopyard Rd.,Suite 310,94588,Pleasanton,CA,USA,37.692934,-121.904945
2,52cdef7c4bab8bd675297d8c,Zoho,software,Online Business Apps Suite,$0,"{'description': 'Headquarters', 'address1': '4...",Headquarters,4900 Hopyard Rd,Suite 310,94588,Pleasanton,CA,USA,37.692934,-121.904945
3,52cdef7c4bab8bd675297d8d,Digg,news,user driven social content website,$45M,"{'description': None, 'address1': '135 Mississ...",None,135 Mississippi St,,94107,San Francisco,CA,USA,37.764726,-122.394523

In [10]:
cleandata.drop(columns = ["description1", "address2","zip_code"],inplace = True)

In [11]:
cleandata.astype('str').dtypes #Conversion to string to operate with the column
cleandata['total_money_raised'].value_counts()
#cleandata.sample(10)

$0        15527
$1M         118
$10M        114
$5M         102
$2M          91
          ...
€589k         1
€1.04M        1
$40.4M        1
$5.7B         1
€1.13M        1
Name: total_money_raised, Length: 1478, dtype: int64

In [12]:
cleandata = cleandata[cleandata["total_money_raised"].str.contains("M")]
cleandata

,_id,name,category_code,total_money_raised,offices,description,address1,city,state_code,country_code,latitude,longitude
0,52cdef7c4bab8bd675297d8a,Wetpaint,web,$39.8M,"{'description': '', 'address1': '710 - 2nd Ave...",,710 - 2nd Avenue,Seattle,WA,USA,47.603122,-122.333253
0,52cdef7c4bab8bd675297d8a,Wetpaint,web,$39.8M,"{'description': '', 'address1': '270 Lafayette...",,270 Lafayette Street,New York,NY,USA,40.723731,-73.996431
3,52cdef7c4bab8bd675297d8d,Digg,news,$45M,"{'description': None, 'address1': '135 Mississ...",None,135 Mississippi St,San Francisco,CA,USA,37.764726,-122.394523
7,52cdef7c4bab8bd675297d91,Geni,web,$16.5M,"{'description': 'Headquarters', 'address1': '9...",Headquarters,9229 W. Sunset Blvd.,West Hollywood,CA,USA,34.090368,-118.393064
11,52cdef7c4bab8bd675297d95,StumbleUpon,web,$18.5M,"{'description': '', 'address1': '', 'address2'...",,,San Francisco,CA,USA,37.775196,-122.419204
...,...,...,...,...,...,...,...,...,...,...,...,...
18774,52cdef7f4bab8bd67529c6e0,Celestial Semiconductor,semiconductor,$2M,"{'description': '', 'address1': '2635 North 1s...",,"2635 North 1st Street, Suite 150",San Jose,CA,USA,37.386417,-121.929170
18775,52cdef7f4bab8bd67529c6e1,Purfresh,cleantech,$62.7M,"{'description': 'HQ', 'address1': '1350 Willow...",HQ,"1350 Willow Road,",Menlo Park,CA,USA,37.477008,-122.151599
18777,52cdef7f4bab8bd67529c6e3,InSound Medical,biotech,$11M,"{'description': '', 'address1': '39660 Eureka ...",,39660 Eureka Drive,Newark,CA,USA,37.512038,-121.998513
18778,52cdef7f4bab8bd67529c6e4,Getyoo,mobile,€1.13M,"{'description': 'HQ', 'address1': 'Rue des Tan...",HQ,"Rue des Tanneurs, 60a",Brussels,None,BEL,50.839970,4.346472
18780,52cdef7f4bab8bd67529c6e6,OfficialVirtualDJ,music,€25M,"{'description': 'Created in London', 'address1...",Created in London,11 Eggleston view,London,DC,GBR,NaN,NaN

In [15]:
cleandata['localizacion'] = cleandata[['latitude', 'longitude']].apply(cf.Geopint('latitude','longitude',axis = 1))

AttributeError: module 'src.funciones_limpieza' has no attribute 'Geopint'

In [13]:
def coger(x):
    l = []
    for i in x:
        for j,s in i.items():
            for w,e in s.items():
                if w == "zip_code":
                    l.append(s)
    return l

In [14]:
print(coger(firstcompany))

NameError: name 'firstcompany' is not defined

In [ ]:
a  = list(c.find({"office":"country_code"}))

In [ ]:
url = 'https://maps.googleapis.com/maps/api/place/details/json'
mapeo = requests.get(url)
mapeo